@{
    ViewBag.Title = "Sobre Nós ";
}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <section class="texto">
        <header id="cabecalho-texto">
            <hgroup>
                <h1>&laquo; Sobre Nós &raquo;</h1>
                <h3>O que é o MODFLEX 4 ?</h3>
            </hgroup>
        </header>
        <p>O nosso sistema está em desenvolvimento e é destinado para usinas de concreto do ramo que querem ter um maior controle de suas máquinas e de sua produção. É um software para controle de produção, estoque, controle de frotas e automação voltado para usinas de concreto.</p>
        <p>Nosso sistema pretende trazer novidades para o mercado, ser o mais simples possível para facilitar o uso e o tornar de fácil acesso para o usuário. Será um produto independente e autossuficiente. O SGP tem como objetivo ajudar a manter o controle de produção e de suas máquinas e tem como meta entrar no mercado para revolucionar e ajudar a todos.</p>
        <h3><strong>Recursos do produto:</strong></h3>
        <ul>
            <li>
                <strong>Controle de Traços de Concreto:</strong>
                <p>Controla a quantidade dos componentes e dos produtos que são colocados e misturados para criar o concreto.</p>
            </li>
            <li>
                <strong>Controle de Destino e Rotas:</strong>
                <p>Controla a ida e vinda dos caminhões que carregam os produtos da fábrica e também inclui horários e datas.</p>
            </li>
            <li>
                <strong>Controle de Caminhões:</strong>
                <p>O sistema irá armazenar informações dos caminhões incluindo placa, peso e para qual tipo de serviço.</p>
            </li>
            <li>
                <strong>Controle de Estoque:</strong>
                <p>Controla todo o estoque armazenado na fábrica incluindo produtos químicos e componentes variados da produção e também todo o insumo da produção.</p>
            </li>
            <li>
                <strong>Controle de Pesagens:</strong>
                <p>Controla as pesagens criadas para a ida e vinda de produtos dentro da fábrica que vão ou para a betoneira ou para o misturador.</p>
            </li>
            <li>
                <strong>Controle de Relatórios:</strong>
                <p>Uma página que controla e gera relatórios para serem armazenados e disponibilizados para o gerente esses relatórios são variados e com muitos componentes essa parte será dividida entre várias partes para diferentes tipos de relatórios.</p>
                <ul class="sobre">
                    <li>
                        <strong>Relatório Cadastro de Funcionários</strong>
                    </li>
                    <li>
                        <strong>Relatório Cadastro de Clientes</strong>
                    </li>
                    <li>
                        <strong>Relatório de Pesagem</strong>
                    </li>
                    <li>
                        <strong>Relatório de Estoque</strong>
                    </li>
                    <li>
                        <strong>Relatório de Produção</strong>
                    </li>
                    <li>
                        <strong>Relatório de Manuntenção</strong>
                    </li>
                    <li>
                        <strong>Relatório de Rotas</strong>
                    </li>
                    <li>
                        <strong>Relatório de Produtos</strong>
                    </li>
                </ul>
            </li>
            <li>
                <strong>Controle de Funcionários:</strong>
                <p>Controla o cadastro dos funcionários da empresa.</p>            
            </li>
            <li>
                <strong>Controle de Cliente:</strong>
                <p>Controla os clientes das empresas garantindo salvar as informações de todos.</p>
            </li>
            <li>
                <strong>Controle da Produção de Concreto:</strong>
                <p>O responsável por essa parte ele irá colocar as quantidades necessárias dos componentes na mistura do concreto e também controlará a betoneira e o misturador usado.</p>
            </li>
            <li><strong>Controle de Manuntenção:</strong></li>
        </ul>
        <p>Com o nosso produto as tarefas de sua fábrica ficam mais fáceis de serem realizadas e com o avanço da automatização dos equipamentos o responsável pode fazer o processo de criação de cimento, sem contar com o recurso que permite a localizar os caminhões em transporte e também os recursos que temos neste site.</p>
        <p><strong>Contrate já os nossos serviços!</strong></p>
    </section>
    <footer class="container">
        <p>&copy; 2018 MODFLEX 4, Inc. &middot; <a href="#">Facebook</a>
    </footer>
</body>
</html>