@{
    ViewBag.Title = "Contato";
}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <section class="texto">
        <header id="cabecalho-texto">
            <h1>&laquo; Contato &raquo;</h1>
        </header>
        <address>
            <strong>Tel:</strong> <a>(99)-9999-9999</a>
            <strong>Cel:</strong> <a>(99)-99999-9999</a>
        </address>

        <address>
            <strong>Suporte:</strong>   <a href="mailto:suporte@modflex4.com">suporte@modflex4.com</a><br />
            <strong>Comercio:</strong> <a href="mailto:marketing@modflex4.com">comercio@modflex4.com</a>
        </address>
    </section>
    <footer class="container">
        <p>&copy; 2018 MODFLEX 4, Inc. &middot; <a href="#">Facebook</a>
    </footer>
</body>
</html>